* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    background-color:rgb(7, 94, 94);
  }

.app {
  margin-top: 180px;
  padding: 30px;
  border-radius: 10%;
  background-color:azure;
}

h1 {
  margin-bottom: 40px;
  text-align: center;
}

p {
  margin-bottom: 15px;
  margin-top: 15px;
  font-weight: 600;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

select {
  font-size: 1rem;
  padding:  10px;
  border-radius: 5%;
  background-color:azure;
}

#amount {
  font-size: 1rem;
  padding: 10px;
  border-radius: 5%;
  text-align: center;
  background-color:azure;
}

.to_amount {
  margin-top: 30px;
  font-size: 1.5rem;
}